@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

:root {
/* colors for the list items */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

/* colors for the list items background */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

/* colors for the background gradient */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

/* colors for the circle gradient */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Hanken Grotesk";
}