@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

:root {
/* general colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --light-lavender-transparent: hsl(241, 100%, 89%, .6);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --dark-gray-blue-transparent: hsla(224, 30%, 27%, .1);
    --black-transparent: hsla(0, 0%, 0%, .5);

/* colors for the list items */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

/* colors for the list items backgrounds */
    --light-red-transparent: hsla(0, 100%, 67%, .05);
    --orangey-yellow-transparent: hsla(39, 100%, 56%, .05);
    --green-teal-transparent: hsla(166, 100%, 37%, .05);
    --cobalt-blue-transparent: hsla(234, 85%, 45%, .05);

/* colors for the background gradient */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

/* colors for the circle gradient */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Hanken Grotesk", sans-serif;
}

.result-section {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    color: white;
    text-align: center;
    padding: 1.5em 0 2em;
    border-radius: 0 0 2em 2em;
}

.result-section__title {
    font-size: 1.8rem;
    color: var(--light-lavender);
    margin-bottom: 1.5em;
}

.result-section__result {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    color: var(--light-lavender-transparent);
    width: 30%;
    aspect-ratio : 1 / 1;
    margin: 0 auto;
    padding: 1em;
    box-sizing: content-box;
    border-radius: 50%;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-section__result > strong {
    color: var(--white);
    font-size: 15vw;
}

.result-section__secondary-title {
    margin: 1em 0 .5em;
    font-size: 2.5rem;
}

.result-section__text {
    font-size: 1.5rem;
    margin: 0 4em;
    color: var(--light-lavender);
}

.summary-section {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.summary-section__title {
    font-size: 1.8rem;
    color: var(--dark-gray-blue);
}

.summary-section__list {
    margin: 1em 0;
    font-weight: 700;
}

.summary-section__list-item {
    list-style: none;
    font-size: 1.6rem;
    padding: 1em;
    margin-top: 1em; 
    border-radius: 15px;
    box-shadow: 
        3px 3px 0 -3px var(--dark-gray-blue-transparent),
        3px -3px 0 -3px var(--dark-gray-blue-transparent),
        -3px -3px 0 -3px var(--dark-gray-blue-transparent),
        -3px 3px 0 -3px var(--dark-gray-blue-transparent);
    display: flex;
    align-items: center;
}

.summary-section__list-item.reaction {
    background-color: var(--light-red-transparent);
}

.summary-section__icon {
    flex-basis: 10%;
}

.summary-section__score-type {
    flex-basis: 60%;
    padding-left: .7em;
}

.summary-section__score {
    font-weight: 700;
    color: var(--black-transparent);
    flex-basis: 30%;
    text-align: center;
}

.summary-section__score > strong {
    color: var(--dark-gray-blue);
}

.summary-section__score-type.reaction {
    color: var(--light-red);
}

.summary-section__list-item.memory {
    background-color: var(--orangey-yellow-transparent);
}

.summary-section__score-type.memory {
    color: var(--orangey-yellow);
}

.summary-section__list-item.verbal {
    background-color: var(--green-teal-transparent);
}

.summary-section__score-type.verbal {
    color: var(--green-teal);
}

.summary-section__list-item.visual {
    background-color: var(--cobalt-blue-transparent);
}

.summary-section__score-type.visual {
    color: var(--cobalt-blue);
}

.summary-section__button {
    background-color: var(--dark-gray-blue);
    border: none;
    color: var(--white);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.8rem;
    width: 100%;
    padding: .8em;
    margin-top: .5em;
    border-radius: 2em;
}

.summary-section__button:active {
    background-color: var(--black-transparent);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin: .5em 0 .7em;
}

@media only screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.8rem;
    }
    
    .results-summary-component {
        max-width: 600px;
        display: flex;
        box-shadow: 10px 20px 50px 5px var(--pale-blue);
        border-radius: 1.5em;
    }

    .result-section,
    .summary-section {
        flex-basis: 50%;
    }

    .result-section {
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .result-section__title {
        font-size: 2rem;
    }

    .result-section__result {
        width: 45%;
        font-size: 1.5rem;
    }

    .result-section__result > strong {
        font-size: 6rem;
    }

    .result-section__text {
        margin: 0 3em;
    }

    .summary-section {
        padding: 1.9em;
    }

    .summary-section__title {
        font-size: 2rem;
    }

    .summary-section__button {
        font-size: 1.5rem;
    }
}

@media (any-hover: hover) {
    .summary-section__button:hover {
        background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    }
}
